@font-face{
    font-family: staykind;
    src: url(Stay\ Kind.otf)
}

@font-face{
    font-family: groovyfruity;
    src: url(Groovy\ Fruity.otf)
}

body{
background:radial-gradient(#FF834B,#FDAB9F, #FE7F9C);
color: #E30B5D;
}

h1{
    font-family: staykind;
    font-size: 7em;
    margin: 2px;
    text-align: center;
}

h2{
   font-family: groovyfruity;
   font-weight: lighter;
   font-size: 3em;
   margin-bottom: 2px;
   margin-top: 15px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin: 2px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin: 2px;
    list-style-type: none;
}
section{
    text-align: center;
}
.socials{

    margin-left: 50px;
    margin-right: 50px;
}
.socials img{
    height: 100px;
}
.container{
    display: inline-block;
    position: relative;
    margin-right: 2em;
}
.image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    opacity: 0;
    transition: .5s ease;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}
.container:hover .image{
opacity: 0.3;
}
.container:hover .middle{
    opacity: 1;
}
.middle p{
    background-color: #E30B5D;
    color: #FDAB9F;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 1em;
}
.wrapper{
    text-align: center;
}
.qualifications{
    display: flex;
    justify-content: center;
}
.skills{
    border: #FF834B solid 1px;
    border-radius: 1em;
    margin:1em 2em;
    padding:1em 4em;
}
.skills ul{
    text-align: left;
    list-style-type:square;
}
li{
    padding-bottom: .5em;
}
.software{
    border: #FF834B solid 1px;
    margin:1em 2em;
    padding:1em 4em;
    border-radius: 1em;
}
.software li{
    font-size: 1.5em;
    margin: .5em 0;
}
.artwork{
    width: 60%;
    margin:2em  20%;
}
.artwrapper{
    text-align: center;
}
.links{
    text-align: center;
    display: flex;
    justify-content: center;
}
.links a{
    margin: 1em 9em;
    padding: 1em;
    background-color: #FF834B;
    border-radius: 4em;
    font-size:1.5em;
    text-decoration: none;
    font-family: staykind;
    color: #E30B5D;
}